.overlay {
  z-index: 999;
  position: fixed;
  background: var(--mark-color);
  will-change: opacity;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(15px);
}

.close {
  cursor: pointer;
  position: fixed;
  right: 15px;
  top: 10px;
  background-color: var(--special-mark-color);
  color: var(--text-color);
  border: 1px solid var(--special-bg-color);
  width: 40px;
  height: 40px;
  padding: 4px;
  z-index: 1000;


  &:hover {
    box-shadow: 0 0 1px 3px var(--special-bg-color);
  }
}
