@import '@styles/typography';

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
  max-width: 1300px;
}

.title {
  @include heading5;
  text-align: center;
}

.table {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  align-items: center;
  justify-content: center;
}
