{
  "extends": [
    "stylelint-config-sass-guidelines",
    "stylelint-config-prettier"
  ], 
  "plugins": [
    "stylelint-scss",
    "stylelint-order",
    "stylelint-prettier"
  ],
  "rules": {
    "prettier/prettier": true,
    "selector-class-pattern": "^[A-Za-z0-9_-]+$",
    "selector-max-id": 10,
    "max-nesting-depth": 3,
    "selector-max-compound-selectors": 5,
    "selector-no-qualifying-type": [
      null,
      {
        "ignore": [
          "attribute"
        ]
      }
    ]
  }
}
