@use '@styles/media';
@import '@styles/typography';
@import '@styles/mixins';

.root {
  @include side-paddings;
  min-height: 100vh;
  padding-top: 60px;
  padding-bottom: 120px;
  overflow: hidden;
  position: relative;
}

.title {
  @include heading1;
  text-transform: uppercase;
  text-align: center;
  color: var(--text-color);
}
