@mixin custom-scroll {
  &::-webkit-scrollbar {
    width: 7px;
  }

  &::-webkit-scrollbar-track {
    background: var(--mark-color);
  }

  &::-webkit-scrollbar-thumb {
    background: var(--border-color);
  }

  &::-webkit-scrollbar-thumb:hover {
    box-shadow: inset 0 0 2px var(--special-bg-color);
  }

  &::-webkit-scrollbar-thumb:active {
    box-shadow: inset 0 0 5px var(--special-bg-color);
  }
}
