@use '@styles/media';
@import '@styles/mixins';

.root {
  flex-grow: 1;
  @include media.tablet-landscape {
    display: none;
  }
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  z-index: 999;
  position: relative;
}

.logo {
  width: 40px;
}

.line {
  position: absolute;
  transform: translate(0, -50%);
  width: 150px;
  background: linear-gradient(90deg, transparent 0%, var(--border-color) 25%);

  &:nth-of-type(1) {
    right: -90px;
    top: 30%;
    height: 1px;
  }

  &:nth-of-type(2) {
    top: 50%;
    right: -80px;
    height: 2px;
  }

  &:nth-of-type(3) {
    right: -90px;
    top: 70%;
    height: 1px;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100vw;
  top: -18px;
  padding-top: 120px;
  left: 0;
  height: 100vh;
  background-color: var(--subtle-color);
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow-y: auto;

  button {
    color: var(--text-color);
  }
}

.menuLine {
  top: 90px;
  height: 2px;
  left: 0;
  background: linear-gradient(90deg, transparent 0%, var(--border-color) 15%);
  transform-origin: right;
  position: fixed;
  width: 100vw;
  z-index: 1;
}

.localeSwitcher {
  max-width: 90px;
}

.menuItem {
  @include side-paddings;
}

.controls {
  @include side-paddings;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  padding-top: 18px;
  padding-bottom: 110px;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  margin-top: 32px;
  margin-bottom: auto;
  justify-content: flex-end;
  background-color: var(--bg-color);
  align-items: flex-start;
}

.controlsWrapper {
  display: flex;
  gap: 24px;
}
