@use '@styles/media';
@import '@styles/typography';
@import '@styles/mixins';

.root {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--bg-color);
  padding-bottom: 120px;
  border-bottom: 2px solid var(--border-color);
  border-top: 2px solid var(--border-color);
}

.title {
  @include heading1;
  text-transform: uppercase;
  text-align: center;
  color: var(--text-color);
}

.divider {
  border-bottom: 1px solid var(--border-color);
  width: 100%;
}

.subSection {
  @include side-paddings;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 160px auto 0;
}
