$side: 160px;
$dur: 6s;
$circles-amount: 9;

.root {
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: calc($side * 2);
  max-height: calc($side * 2);
  perspective: 1000px;
  filter: blur(4px);
}

.plane {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transform: rotateX(60deg) rotateZ(-30deg);
  animation: rotate $dur infinite linear;
  width: $side;
  height: $side;
  transform-style: preserve-3d;
}

.circle {
  animation: color-change $dur linear infinite;
  width: $side;
  height: $side;
  position: absolute;
  transform-style: preserve-3d;
  border-radius: 50%;
  background-color: var(--shadow-color);
  box-shadow: 0 0 35px 1px var(--special-bg-color),
    inset 0 0 35px 15px var(--special-bg-color);

  @for $i from 1 through $circles-amount {
    &:nth-child(#{$i}) {
      transform: rotateZ($i / $circles-amount * 360deg) rotateX(80deg);
    }
  }
}
@keyframes rotate {
  0% {
    transform: rotateX(0) rotateY(0) rotateZ(0);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}
