@use '@styles/media';
@import '@styles/typography';
@import '@styles/mixins';

.root {
  @include side-paddings;
  background-color: var(--bg-color);
  width: 100%;
  display: flex;
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
  justify-content: flex-end;
  border-top: 12px solid var(--border-color);
  color: var(--text-color);
}
