.root {
  cursor: pointer;
  position: relative;
  padding: 6px 0;
  width: 80px;

  &:hover {
    .rhombus {
      background-color: var(--dark-color);
    }

    .icon {
      color: var(--special-text-color);
    }

    .rhombus,
    .leftArrow,
    .rightArrow,
    .rails {
      border-color: var(--special-color);
    }
  }
}

.root.light {
  .rhombus {
    transform: translateX(36px) rotate(45deg);
  }
}

.root.dark {
  .rhombus {
    transform: translateX(14px) rotate(45deg);
  }
}

.rhombus {
  width: 30px;
  height: 30px;
  left: 0;
  border: 1px solid var(--border-color);
  background-color: var(--subtle-color);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: transform 0.5s ease-out, border-color 0.3s ease-out,
    background-color 0.3s ease-out;
  overflow: hidden;
}

.icon {
  animation: appear 0.6s ease-in-out forwards;
  color: var(--special-color);
  width: 22px;
  height: 22px;
  transform: rotate(-45deg);
}

.rails {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% - 20px);
  height: 14px;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  transform: translate(-50%, -50%);
  transition: border-color 0.3s ease-out;
}

.leftArrow,
.rightArrow {
  width: 10px;
  height: 10px;
  top: 50%;
  position: absolute;
  transition: border-color 0.3s ease-out;
}
.leftArrow {
  left: 0;
  transform: translate(-5px, -50%) rotate(45deg);
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
}

.rightArrow {
  left: 100%;
  transform: translate(-5px, -50%) rotate(45deg);
  border-top: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

@keyframes appear {
  0% {
    filter: blur(4px);
  }
  50% {
    transform: translate(10%, 85%);
  }

  51% {
    transform: translate(0%, -200%);
    opacity: 1;
  }

  100% {
    transform: translate(0%);
  }
}
