.root {
  display: flex;
  position: relative;
  align-items: stretch;
}

.bracket {
  animation: blinking 0.5s ease-in-out alternate-reverse infinite;
  height: 100%;
  background-color: var(--special-bg-color);
  position: absolute;
  width: 3px;

  &.left {
    left: 0;
    transform: translateX(-10px);
  }

  &.right {
    left: 100%;
    transform: translateX(10px);
  }
}

@keyframes blinking {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
