.root {
  padding: 24px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 0 20px 0;
  gap: 30px;
  margin-top: 40px;

  h2 {
    padding-left: 5px;
  }
}

.componentsContainer {
  display: flex;
  gap: 30px;
}
