@use '@styles/media';
@import '@styles/typography';
@import '@styles/mixins';

.root {
  min-height: 500vh;
}

@mixin glitchCopy {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.works {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 230px);
  text-align: center;
  font-size: 28px;
}

.loader {
  display: none;

  @include media.desktop {
    display: block;
  }
}

.glitch {
  position: relative;
  text-shadow: 0 0 5px var(--special-bg-color);
  &::before {
    @include glitchCopy;
    left: 2px;
    text-shadow: -2px 0 var(--special-color);
    clip: rect(44px, 450px, 56px, 0);
    animation: glitch-anim 4s infinite ease-in-out alternate-reverse;
  }

  &::after {
    @include glitchCopy;
    left: -2px;
    text-shadow: -2px 0 var(--outline-color), 2px 2px var(--special-bg-color);
    clip: rect(44px, 450px, 56px, 0);
    animation: glitch-anim2 6s infinite ease-in-out alternate-reverse;
  }
}

@keyframes glitch-anim {
  $steps: 20;
  @for $i from 0 to $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(100) + px, 9999px, random(100) + px, 0);
      transform: skew((random(100) / 100) + deg);
    }
  }
}

@keyframes glitch-anim2 {
  $steps: 20;
  @for $i from 0 to $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(100) + px, 9999px, random(100) + px, 0);
      transform: skew((random(100) / 100) + deg);
    }
  }
}
